<div class="app-container">
  <aside class="sidebar">
    <div class="logo">
      MoviePlan
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a routerLink="/movies" routerLinkActive="active">
            <i class="icon-search"></i>
            Buscar Filmes
          </a>
        </li>
        <li class="menu-item">
          <a>
            <i class="icon-generator"></i>
            Gerador Temático
          </a>
        </li>
        <li class="menu-item">
          <a>
            <i class="icon-marathon"></i>
            Minhas Maratonas
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
